/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Light Mode Palette */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-light: #f4f5f8;
  --ion-color-medium: #92949c;
  --ion-color-dark: #222428;

  /* Custom Colors */
  --custom-header-bg: #f8f9fa;
  --custom-header-text: #333;
  --custom-card-bg: #fefefe;
  
  /* #fdfdfd */
  --custom-card-text: #333;
  --custom-card-metric: #222;

  /* Additional Theme Customization */
  --custom-background: #f4f5f8;
  /* Light background for the app */
  --custom-text-color: #333;
  /* Default text color */
  --custom-border-color: #ddd;

}

/* General Styling */
:root {
  /* Main Header Styling */
  .header-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
}

/* Mobile Styling */
@media (max-width: 768px) {
  .header-title {
    font-size: 1.4rem;
  }
}

/* Dark Mode Palette */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #4c8dff;
    --ion-color-secondary: #3ab8ff;
    --ion-color-tertiary: #7a7fff;
    --ion-color-success: #28c76f;
    --ion-color-warning: #ffcf44;
    --ion-color-danger: #ff5a67;
    --ion-color-light: #1e1e1e;
    --ion-color-medium: #666666;
    --ion-color-dark: #ffffff;

    /* Custom Dark Theme Colors */
    --custom-header-bg: #222428;
    --custom-header-text: #f4f5f8;
    --custom-card-bg: #333333;
    --custom-card-text: #ffffff;
    --custom-card-metric: #ffffff;

    /* Additional Dark Theme Customization */
    --custom-background: #121212;
    /* Dark background for the app */
    --custom-text-color: #f4f5f8;
    /* Light text color */
    --custom-border-color: #444444;
    /* Darker border color for tables and cards */
  }
}

