/* Metric Styling */
.metric-row {
  align-items: center;
  margin-bottom: 15px;
  text-align: left;
}

.metric-description {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 20px;
  text-align: left;
}

/* Chart Column */
.chart-column {
  text-align: center;
}

/* Custom Card Styling */
.custom-card {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.custom-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Image Styling */
.image-wrapper {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.eeg-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

/* General Styling */
.model-details-row {
  align-items: center;
  margin-bottom: 15px;
}

.detail-icon-col {
  text-align: center;
}

.detail-icon {
  font-size: 2.5rem;
  color: #007BFF;
}

.detail-text-col {
  text-align: left;
}

.detail-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.detail-description {
  font-size: 1rem;
  color: #555;
  margin: 5px 0 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .metric-row {
    flex-direction: column;
  }

  .chart-column,
  .description-column {
    text-align: center;
  }

  .metric-description {
    text-align: justify;
  }

  .eeg-image {
    width: 100%;
  }

  .detail-icon {
    font-size: 2rem;
  }

  .detail-heading {
    font-size: 1rem;
  }

  .detail-description {
    font-size: 0.9rem;
  }
}