/* Menu Container Styling */
.menu-header {
  text-align: center;
}

.menu-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Menu Item Styles */
.menu-item {
  background: transparent;
  border-radius: 10px;
  margin: 10px 15px;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: var(--custom-header-text);
  font-size: 1.2rem;
  margin-right: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover .menu-icon {
  color: var(--custom-header-text);
}

.menu-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
}

/* Scrollbar styling */
.menu-content {
  background: transparent;
}

.menu-content::-webkit-scrollbar {
  width: 8px;
}

.menu-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
